<div class="well <%= 'no-margin no-bottom-padding reply' if comment.parent_id %>">
  <div class='row no-margin'>
    <div class='row no-margin'>
      <div class="float-left hidden-xs">
        <%= avatar_for comment.user, size: "50x50" %> 
      </div>
      <div class="left-padding float-left clear-right width-90">
        <small>
        <%= link_to comment.user.full_name, user_path(comment.user) %>
          <span class="float-right"><%= time_ago_in_words(comment.created_at) %> ago</span>
        </small>
        <p class="comment-body"><%= comment.content %></p>
      </div>
      
    </div>
    <% if current_user %>
      <div class="row no-margin" id="reply-form-container">
        <small><a href="#" class="pull-right reply", data-parent-id="<%= comment.id %>">Reply</a></small>
      </div>
    <% end %>
  </div>
  
  <div class="comment-replies">
    <small><%= link_to 'Show replies', comment_path(comment), 
                  remote: true, class: 'pull-right show_replies',
                  data: {toggle: 'modal', target: '#comments_modal'} if comment.replies.any? && !local_assigns[:show_replies]%></small>
    <% if local_assigns[:show_replies] %>
    
      <%= render comment.replies, show_replies: true  if comment.replies.any?%>
    <% end %>
  </div>
  

  
</div>