<div class="well">
  <small><%= avatar_for comment.user, size: "20x20" %> <%= link_to comment.user.full_name, user_path(comment.user) %></small>
  <div class="pull-right">
    <small><%= time_ago_in_words(comment.created_at) %> ago</small>
  </div>
  <hr />
  <p class="comment-body"><%= comment.content %></p>
  <div class="comment-replies">
    <%= render comment.replies if comment.replies.any? %>
  </div>
  
  <div class="row" id="reply-form-container">
    <small><a href="#" class="pull-right reply", data-parent-id="<%= comment.id %>">Reply</a></small>
  </div>
  
</div>