<% obj.each do |article| %>
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
        
        <div class="article-title">
          <%= link_to ("#{article.title} "), article_path(article) %> 
          <small>
            <%= "<span class='label label-md label-info'><i class='fa fa-star'></i>Featured</span>".html_safe if article.is_featured? %>
          </small>
          <% if current_user && (current_user == article.user || current_user.is_admin?) %>
            <div class="dropdown pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-bars"></i>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit this article", edit_article_path(article)%></li>
                <li><%= link_to "Delete this article", article_path(article), method: :delete, 
                                              data: { confirm: "Are you sure you want to delete the article?" }%></li>
                <% if current_user.is_admin? %>
                  <li><%= link_to "#{article.is_featured? ? "Remove feature" : "Feature"}", toggle_feature_articles_path(id: article.id),
                      method: :patch %></li>
                <% end %>
              </ul>
        
            </div>
          <% end %>
          
        </div>
        
        <div class="article-body no-padding">
          <% if article.description %>
            <%= truncate(strip_tags(article.description), length: 100) %>  
          <% else %>
            <%= truncate(strip_tags(article.content), length: 100) %>  
          <% end %>
        <div class="article-meta-details">
          <small>Created by: <%=article.user.full_name if article.user %>,
              <%= time_ago_in_words(article.created_at) %> ago,
              last updated: <%= time_ago_in_words(article.updated_at) %> ago
          </small>
          <% if article.categories.any? %>
            <p>Categories: <%= render article.categories %> &nbsp;</p>
          <% end %>
        </div>
          
          
        </div>
        
      </div>
    </div>
  </div>
  
<% end %>
