<%- model_class = Article -%>
<div class="page-header">
  <h1><%= @article.title %> <%= "<i class='fa fa-star'></i>".html_safe if @article.is_featured? %></h1>
  <div class="row">
    <div class="col-md-8">
      <small>
        <%= avatar_for(@article.user, size: "20x20") %>
        Created by: <%= @article.user.full_name if @article.user %>,
                    <%= time_ago_in_words(@article.created_at) %> ago,
                    last updated: <%= time_ago_in_words(@article.updated_at) %> ago
      </small>
      <br />
      <% if @article.categories.any? %>
        <p class="padding-left-25"><small>Categories: <%= render @article.categories %> &nbsp;</small></p>
      <% end %>
    </div>
    <div class="col-md-4 pull-right" align="right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                articles_path, :class => 'btn btn-xs btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_article_path(@article), :class => 'btn btn-xs btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    article_path(@article),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-xs btn-danger' %>
      <% if current_user.is_admin? %>
        <%= link_to "#{@article.is_featured? ? "Remove feature" : "Feature"}", toggle_feature_articles_path(id: @article.id),
            method: :patch, class: "btn btn-xs btn-primary" %>
      <% end %>
  
    </div>
  </div>
  
</div>

<div class="article-content">
  <%= simple_format(@article.content) %>
</div>
<div class="col-md-3 pull-right">
  <% if current_user %>
  Rating: <%= rating_for @article, "quality" %>
  <% else %>
    Rating: <%= rating_for @article, "quality", disabled: true%>
  <% end %>
</div>
<h3>Comments</h3>
<hr />
<% if current_user %>
  <%= render 'comments/form', article_id: @article.id %>
<% end %>

<%= render 'comments/comments', obj: @comments %>


<div class="row">
  <div class="col-lg-10">
    <div class="pull-right" id="paginate_comments">
      <%= will_paginate @comments %>
    </div>
    
  </div>
</div>

