<div align="center" class="user-listing row">
  <div class="col-sm-12">
    <% obj.each do |user| %>
      <% next if current_user && user.id == current_user.id unless local_assigns[:show_current_user] %>
      <ul class="listing col-sm-4">
          <div class="well">
            <li><%= avatar_for user, size:"100x100" %></li>
            <li class="article-title">
              <%= link_to user.full_name, user_path(user) %>
            </li>
            <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
            <li><small><%= link_to pluralize(user.followers.count, "follower"), user_followers_path(user),
                          remote: true,
                          data: {toggle: "modal", target: '#followers_modal', count: user.followers.count}, 
                          id: "followers-#{user.id}" %></small></li>
            
            <% if current_user %>
              <li><%= link_to "Follow this user", user_follow_path(user), 
                        method: :post,
                        remote: true,
                        class: "btn btn-xs btn-primary btn-follow follow 
                        #{'hide' if (current_user.is_following?(user) || user.id == current_user.id)}",
                        data: { user_id: user.id}%></li>
              <li><%= link_to "Unfollow this user", user_unfollow_path(user), 
                        method: :delete,
                        remote: true,
                        class: "btn btn-xs btn-warning btn-follow unfollow
                        #{'hide' if ((!current_user.is_following?(user) || user.id == current_user.id))}",
                        data: { user_id: user.id}%></li>
            <% end %>
            <% if !current_user || current_user.id == user.id %>
              <li><span class="btn btn-xs" style="visibility:hidden">smth</span></li>
            <% end %>
            <% if current_user && current_user.is_admin? %>
              <li><%= link_to "Delete this user", edit_user_registration_path(user), 
                      method: :delete, 
                      data: { confirm: "Are you sure you want to delete the user and all their articles?" },
                      class: "btn btn-xs btn-danger" %></li>
            <% end %>
          </div>
      </ul>
    
    <% end %>
  </div>
  <%# no need render modal div cus sidebar got %>
</div>