<% set_title 'All categories' %>
<% set_description "Read coding related articles for the following #{pluralize(@categories.count, 'category')}" %>

<%- model_class = Category -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= will_paginate %>
<div class="row">
  <% @categories.each do |category| %>
    <ul class="listing">
      <div class="col-sm-4">
        <div class="well center">
          <li class="article-title">
            <%= link_to "#{category.title}", category_path(category) %>
          </li>
          <li><small><%= pluralize(category.articles.count, "article") %></small></li>
          <% if current_user %>
            <li><%= link_to "Follow this category", category_follow_path(category), 
                      method: :post,
                      remote: true,
                      class: "btn btn-xs btn-primary btn-follow follow 
                      #{'hide' if current_user.is_following_category?(category)}" %></li>
            <li><%= link_to "Unfollow this category", category_unfollow_path(category), 
                      method: :delete,
                      remote: true,
                      class: "btn btn-xs btn-warning btn-follow unfollow
                      #{'hide' unless current_user.is_following_category?(category)}" %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
</div>
<%= will_paginate %>

<% if is_admin? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_category_path,
              :class => 'btn btn-primary' %>
<% end %>
