<%- model_class = Category -%>
<div class="page-header">
  <h1><%= @category.title %></h1>
</div>

<div class="recents row col-md-12">
  <h2><%= link_to "Featured articles on #{@category.title}", category_featured_path(category_id: @category.id) %></h2>
  <hr />
  <%= render 'articles/articles', obj: @featured_articles %>
  <%= link_to 'Read more', category_featured_path(category_id: @category.id), class: 'btn btn-primary btn-xs pull-right' %>
</div>

<div class="recents row col-md-12">
  <h2><%= link_to "Recent articles for #{@category.title}", category_recents_path(category_id: @category.id) %></h2>
  <hr />
  <%= render 'articles/articles', obj: @recent_articles %>
  <%= link_to 'Read more', category_recents_path(category_id: @category.id), class: 'btn btn-primary btn-xs pull-right' %>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              categories_path, :class => 'btn btn-default'  %>
<% if current_user.is_admin? %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_category_path(@category), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                category_path(@category),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
