<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to ('<i class="fa fa-code"></i> Code I Learn'.html_safe ), root_path, class: 'navbar-brand' %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Link1", "/path1"  %></li>
        <li><%= link_to "Link2", "/path2"  %></li>
        <li><%= link_to "Link3", "/path3"  %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= current_user.full_name %></li>
          <li><%= link_to 'logout', destroy_user_session_path ,method: :delete, class: "btn btn-danger" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>